@page "{id}"
@model CourseShop.Web.Pages.Admin.Roles.EditModel
@{
    ViewData["Title"] = "ویرایش نقش";
}


<section class="content-header">
    <h3>
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> پنل مدیریت </a></li>
            <li class="active">افزودن نقش جدید</li>
        </ul>
    </h3>
</section>


<section class="content">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Role.RoleId" />

        <div class="row">

            <div class="col-sm-12 col-md-7">

                <div class="box box-warning">
                    <div class="box-header ui-sortable-handle" style="cursor: move;">
                        <i class="fa fa-users"></i>

                        <h3 class="box-title">ثبت نقش</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <input asp-for="Role.RoleTitle" type="text" class="form-control" placeholder="نام نقش" style="width:50%">
                            <span asp-validation-for="Role.RoleTitle"></span>
                        </div>

                        <div class="box-footer clearfix">
                            <button type="submit" class=" btn btn-success">
                                ثبت
                            </button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-5">

                <div class="box box-info box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">دسترسی های نقش</h3>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <ul>
                                @foreach (var permission in Model.PermissionsList.Where(p => p.ParrentId == null))
                                {
                                    <li>
                                        <input type="checkbox" name="permissionIdList" @(Model.SelectedPermission.Any(r => r==@permission.PermissionId) ? "checked" : "") value="@permission.PermissionId" />
                                        <label>@permission.PermissionTitle</label>
                                    </li>
                                    @if (Model.PermissionsList.Any(p => p.ParrentId == permission.PermissionId))
                                    {
                                        <ul>

                                            @foreach (var subPermissions in Model.PermissionsList.Where(p => p.ParrentId == permission.PermissionId))
                                            {
                                                <li>
                                                    <input type="checkbox" name="permissionIdList"  @(Model.SelectedPermission.Any(r => r==@subPermissions.PermissionId) ? "checked" : "")  value="@subPermissions.PermissionId" />
                                                    <label>@subPermissions.PermissionTitle</label>
                                                </li>
                                                @if (Model.PermissionsList.Any(p => p.ParrentId == subPermissions.PermissionId))
                                                {
                                                    <ul>
                                                        @foreach (var item in Model.PermissionsList.Where(p => p.ParrentId == subPermissions.PermissionId))
                                                        {
                                                            <li>
                                                                <input type="checkbox" name="permissionIdList"  @(Model.SelectedPermission.Any(r => r==@item.PermissionId) ? "checked" : "")  value="@item.PermissionId" />
                                                                <label>@item.PermissionTitle</label>
                                                            </li>
                                                        }
                                                    </ul>

                                                }
                                            }
                                        </ul>
                                    }
                                }


                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </form>

</section>

